@import 'tailwindcss';
@import 'maplibre-gl/dist/maplibre-gl.css';

@plugin 'daisyui' {
    themes:
        light --default,
        dark --prefersdark;
}

/* Input fontsize to prevent zooming on mobile */
input,
textarea,
select {
    font-size: 1rem;
}

.transparent-input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

.hover-list-entry {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.hover-list-entry::after {
    border-color: var(--color-base-300);
}

.hover-list-entry:hover {
    background-color: var(--color-base-200);
}

.maplibregl-cooperative-gesture-screen .maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right,
.maplibregl-ctrl-top-left,
.maplibregl-ctrl-top-right {
    z-index: auto !important;
}
